<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>

		{% include header.html %}

		<!-- Main Page Content and Sidebar -->

		<div class="row mainwrapper">

			<!-- Main Blog Content -->
			<div class="large-9 columns front-main" role="content">
				{{ content }}
			</div>
			<!-- Sidebar -->

            {% include stuff.html %}
            {% include latest.html %}
            {% include sidebar.html %}
            {% include categoryx.html %}
			<!-- End Sidebar -->
		</div>

		<!-- End Main Content and Sidebar -->	
		<!-- Footer -->
		<script>
			document.write('<script src=javascripts/vendor/' +
				('__proto__' in {} ? 'zepto' : 'jquery') +
				'.js><\/script>')
			</script>
            <script src="javascripts/foundation/foundation.js"></script>
			<script>
				$(document).foundation();
			</script>
		</body>
	</html>
