<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>

		{% include header.html %}

		<!-- Main Page Content and Sidebar -->

		<div class="row">

			<!-- Main Blog Content -->
			<div class="large-9 columns" role="content">
				{{ content }}
			</div>
			<!-- Sidebar -->

			<aside class="large-3 columns">

			<h5>Categories</h5>
			<ul class="side-nav">
				<li><a href="#">News</a></li>
				<li><a href="#">Code</a></li>
				<li><a href="#">Design</a></li>
				<li><a href="#">Fun</a></li>
				<li><a href="#">Weasels</a></li>
			</ul>

			</aside>

			<!-- End Sidebar -->
		</div>

		<!-- End Main Content and Sidebar -->	
		<!-- Footer -->

		{% include footer.html %}

		<script>
			document.write('<script src=js/vendor/' +
				('__proto__' in {} ? 'zepto' : 'jquery') +
				'.js><\/script>')
			</script>
			<script src="js/foundation.min.js"></script>
			<script>
				$(document).foundation();
			</script>
		</body>
	</html>
